@{
  Layout="Shared/_Layout.cshtml";
}

<h1>List of All the Places I've Been</h1>
<ul>
  @foreach (var city in Model)
  {
    <li><a href='/allPlaces/@city.GetId()'>@city.GetCity()</a></li>
  }
</ul>
<h3><a href="/place/new">Add another city</a></h3>
